<%- model_class = LabDevice -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><a href="#">设备</a></li>
      <li><a href="#">编辑</a></li>
    </ul>
  </nav>
</div>
<%= render :partial => 'form' %>
