##Environment
.bundle
.idea
public/upload/teachDesigns/
public/upload/teachResources/
public/upload/mobileCourses/
log/
tmp/
*.swp
*~
.project
.DS_Store

Gemfile.lock
config/database.yml
