<div>
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active"><a href="#resource">上线资源审核</a></li> 
      <li><a href="#teach_design">教学设计管理</a></li> 
      <li><a href="#mobile">移动课程管理</a></li> 
      <li><a href="#mooc">MOOC课程管理</a></li>
      <li><a href="#forum">课程论坛管理</a></li>
      <li><a href="#info">课程信息发布</a></li>
    </ul>
    <div class="tab-content"> 
      <div class="tab-pane active" id="resource">
        
      </div> 
      <div class="tab-pane" id="teach_design">...</div> 
      <div class="tab-pane" id="mobile">...</div> 
      <div class="tab-pane" id="mooc">...</div>
      <div class="tab-pane" id="forum">...</div>
      <div class="tab-pane" id="info">...</div> 
    </div> 
</div>