<div>
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active"><a href="#apply">评测申请审核</a></li> 
      <li><a href="#apply_manage">评测管理</a></li> 
      <li><a href="#lab_manage">实验室管理</a></li> 
      <li><a href="#info">评测信息发布</a></li>
    </ul>
    <div class="tab-content"> 
      <div class="tab-pane active" id="apply">
      </div> 
      <div class="tab-pane" id="apply_manage">...</div> 
      <div class="tab-pane" id="lab_manage">...</div> 
      <div class="tab-pane" id="info">...</div>
    </div> 
</div>