<div>
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active"><a href="#home">首页</a></li> 
      <li><a href="#my_course">我的课程</a></li> 
      <li><a href="#mooc">MOOC课程</a></li>
      <li><a href="#mobile">移动课程</a></li>
      <li><a href="#lab">试验评测</a></li> 
    </ul>
    <div class="tab-content"> 
      <div class="tab-pane active" id="home">
        <div class="home_top">
          <div class="home_top_left">
            <ul>
              <li>
                
              </li>
            </ul>
          </div>
          <div class="home_top_right">
            
          </div>
        </div>
        <div class="home_bottom">

        </div>
      </div> 
      <div class="tab-pane" id="home">...</div> 
      <div class="tab-pane" id="my_course">...</div> 
      <div class="tab-pane" id="mooc">...</div>
      <div class="tab-pane" id="mobile">...</div> 
      <div class="tab-pane" id="lab">...</div> 
    </div> 
</div>