<div class="panel">
   <header>
            <i class="icon-asterisk"></i>
            <span>操作列表</span>
   </header>
    <ul class="nav nav-tabs" id="myTab"> 
     <!-- <li><a href="#home">首页</a></li>  -->
      <li class="active"><a href="#my_course">
        <i class="icon-bar-chart"></i>
        <span>我的课程</span>
      </a></li>
      <li><a href="http://101.226.163.149/"  target="_blank"><i class="icon-bar-chart"></i>
        <span>MOOC课程</span></a></li>
      <li><a href="#mobile_courses"><i class="icon-bar-chart"></i>
        <span>移动课程</span></a></li>
      <li><a href="#eval"><i class="icon-bar-chart"></i>
        <span>试验评测</span></a></li>
    </ul>
    <div class="tab-content"> 
 <!--   <div class="tab-pan" id="home">
        <div class="home_top">
          <div class="home_top_left">
            <ul>
              <li>
                
              </li>
            </ul>
          </div>
          <div class="home_top_right">
            
          </div>
        </div>
        <div class="home_bottom">

        </div>
      </div> 
      <div class="tab-pane" id="home">...</div>  -->
      <div class="tab-pane" id="my_course">...</div> 
      <div class="tab-pane" id="mooc">...</div>
      <div class="tab-pane full_height" id="mobile_courses">
        <iframe id="tab1_frame" src="<%=lab_mobile_courses_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="eval">
        <iframe id="tab1_frame" src="<%=lab_eval_projects_path%>"></iframe>
      </div>
    </div> 
</div>