<div class="top_menu navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner" class="clearfix">
    	<div class="inner_bar">
    	   <img src="/assets/logo.png">
	       <div class="lab_top_title">开放教学数字化实验平台</div>
	       <%if @user%>
		       <div class="lab_top_info">
		       		<ul>
		       			<li>你好 <%=@user.name%></li>
		       			<li>|</li>
		       			<li>
		       				<%=link_to "退出",logout_lab_users_path%>
		       			</li>
		       		</ul>
		       </div>
	       <%end%>
	   </div>
    </div>
</div>