<%- model_class = LabNotice -%>
<div class="page-header">
  <h1><%=@lab_notice.title%></h1>
</div>

<dl class="page-content">
  <div>
    <%= raw @lab_notice.body%>
  </div>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              'javascript:history.go(-1)', :class => 'btn'%>
</div>
