<%- model_class = LabUser -%>
<div class="page-header">
    <h1>能耗监控</h1>
</div>
<ul>
  <li>
    <div id="camera-01">
    </div>
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>