<%- model_class = LabUser -%>
<div class="panel">
  <header>
      <i class="icon-asterisk"></i>
      <span>能耗监控</span>
   </header>
</div>
<ul>
  <li>
    <div id="camera-01">
      <div id="camera-container-01">
      </div>
    </div>
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>