<%- model_class = LabUser -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><%=link_to "实验室管理", monitors_path %></li>
      <li><%=link_to "综合分析", comprehensive_monitors_path %></li>
    </ul>
  </nav>
</div>

<ul class="muti_charts" style="margin-left:3px">
  <li>
    <div id="chart-00">
      <div  chart-type="AngularGauge.swf"
           data-source="/monitors/dashboard_data?equipment_code=100001"
           id="chart-container-0">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-01">
      <div class="small_chart" chart-type="Radar.swf"
           data-source="/monitors/comprehensive_data?equipment_code=001001&point_id=000001&size=small"
           id="chart-container-1">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-02">
      <div id="chart-container-02">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-03">
      <div id="chart-container-03">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-04">
      <div id="chart-container-04">
      </div>
    </div>
  </li>
  <li></li>
  <li></li>
</ul>
&nbsp;&nbsp;
<ul>
  <li><input type="radio" name="student" value="0">综合平均值</li>
  <li><input type="radio" name="student" value="1">学生1</li>
  <li><input type="radio" name="student" value="2">学生2</li>
  <li><input type="radio" name="student" value="3">学生3</li>
  <li><input type="radio" name="student" value="4">学生4</li>
  <li><input type="radio" name="student" value="5">学生5</li>
  <li><input type="radio" name="student" value="6">学生6</li>
</ul>
<script type="text/javascript">
    $(".small_chart").click(function(e){
        var chart_type = '/FusionCharts/' + $(this).attr("chart-type");
        var data_source = $(this).attr("data-source").replace(/&size=small/,'');
        window.parent.show_fancybox(data_source,chart_type);
    })
</script>