<%- model_class = LabUser -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
      <ul>
          <li><a href="#"><i class="icon-home"></i></a></li>
          <li><%=link_to "实验室管理", monitors_path %></li>
          <li><%=link_to "能耗监测", energy_consumption_monitors_path %></li>
      </ul>
  </nav>
</div>

<ul class="muti_charts" style="margin-left:3px">
  <li>
    <div id="chart-00">
      <div chart-type="AngularGauge.swf"
           data-source="/monitors/dashboard_data?equipment_code=004001"
           id="chart-container-0">
      </div>
    </div>
  </li>
  <li><!--demo 用体态数据表 -->
    <div id="chart-01">
      <%= text_field_tag('data_source_1', "/monitors/energy_consumption_data?equipment_code=001001&size=small", :type=>'hidden')%>
      <div class="small_chart" chart-type="/FusionCharts/RealTimeLineDY.swf"
           data-source="/monitors/network_data?equipment_code=001001"
           id="chart-container-1">
      </div>
    </div>
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<script type="text/javascript">
    $(".small_chart").click(function(e){
        var chart_type = $(this).attr("chart-type");
        var data_source = $(this).attr("data-source");
        window.parent.show_fancybox(data_source,chart_type);
    })
</script>