<%- model_class = LabUser -%>
<div class="panel">
  <header>
    <i class="icon-asterisk"></i>
    <span>能耗监测</span>
    <%= text_field_tag('data_source', "/monitors/energy_consumption_data?equipment_code=004001", :type=>'hidden')%>
  </header>
</div>
<ul>
  <li>
    <div id="chart-01">
      <div id="chart-container-01">
      </div>
    </div>
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>