<%- model_class = LabUser -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
      <ul>
          <li><a href="#"><i class="icon-home"></i></a></li>
          <li><%=link_to "实验室管理", monitors_path %></li>
          <li><%=link_to "环境监测", energy_consumption_monitors_path %></li>
      </ul>
  </nav>
</div>

<ul class="muti_charts" style="margin-left:3px">
  <li>
    <div id="chart-00">
      <div chart-type="AngularGauge.swf"
           data-source="/monitors/dashboard_data?equipment_code=004001"
           id="chart-container-0">
      </div>
    </div>
  </li>
 
  <li>
    <div id="chart-04">
      <div class="small_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/energy_consumption_data?equipment_code=004001&point_id=000004&source=2&size=small"
           id="chart-container-4">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-05">
      <div class="small_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/energy_consumption_data?equipment_code=004001&point_id=000011&source=2&size=small"
           id="chart-container-5">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-06">
      <div class="small_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/energy_consumption_data?equipment_code=004001&point_id=000012&source=2&size=small"
           id="chart-container-6">
      </div>
    </div>
  </li>
</ul>
<script type="text/javascript">
    $(".small_chart").click(function(e){
        var chart_type = '/FusionCharts/' + $(this).attr("chart-type");
        var data_source = $(this).attr("data-source").replace(/&size=small/,'');
        window.parent.show_fancybox(data_source,chart_type);
    })
</script>