<%- model_class = LabUser -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
      <ul>
          <li><a href="#"><i class="icon-home"></i></a></li>
        <li><%=link_to "在线课堂数据分析", online_monitors_url %></li>
          <li><%=link_to "交互学习行为", interactive_study_monitors_url %></li>
      </ul>
  </nav>
</div>

<ul>
  <li>
    <div>
      <%= text_field_tag('data_source_mscolumn2d', "/monitors/interactive_study_data?equipment_code=002001&point_id=000000&size=small&chart=AngularGauge", :type=>'hidden')%>
      <div  chart-type="/FusionCharts/MSColumn2D.swf"
           data-source="/monitors/interactive_study_data?equipment_code=002001"
           id="chart-container-mscolumn2d">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-02">
      <div id="chart-container-02">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-03">
      <div id="chart-container-03">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-04">
      <div id="chart-container-04">
      </div>
    </div>
  </li>
  <li></li>
  <li></li>
</ul>
<script type="text/javascript">
    $(".small_chart").click(function(e){
        var chart_type = $(this).attr("chart-type");
        var data_source = $(this).attr("data-source");
        window.parent.show_fancybox(data_source,chart_type);
    })
</script>