<%- model_class = LabUser -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><a href="#">实验室管理</a></li>
      <li><a href="#">脑波监测</a></li>
    </ul>
  </nav>
</div>

<ul class="muti_charts" style="margin-left:3px">
  <li>
    <div>
      <img src="/assets/dashboard.jpg"><br/>
      专注  <------->  放松
    </div>
  </li>
  <li>
    <div id="chart-01">
      <%= text_field_tag('data_source_1', "/monitors/mind_wave_data?equipment_code=002001", :type=>'hidden')%>
      <div class="small_chart" chart-type="/FusionCharts/RealTimeLineDY.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001"
           id="chart-container-1">
      </div>
    </div>
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>