<%- model_class = LabUser -%>
<div class="panel">
  <header>
    <i class="icon-asterisk"></i>
    <span>>网络监控</span>
    <%= text_field_tag('data_source_1', "/monitors/network_data?equipment_code=003001", :type=>'hidden')%>
  </header>
</div>
<ul>
  <li>
    <div id="chart-01">
      <div id="chart-container-1">
      </div>
    </div>
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>