<%- model_class = LabUser -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><%=link_to "实验室管理", monitors_path %></li>
      <li><%=link_to "网络监测", network_monitors_path %></li>
    </ul>
  </nav>
</div>

<ul class="muti_charts" style="margin-left:3px">
  <li>
    <div id="chart-00">
      <div class="small_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/network_data?equipment_code=003001&point_id=000001&source=0&size=small"
           id="chart-container-0"></div>
    </div>
    </div>
  </li>
  <li>
    <div id="chart-01">
      <div class="small_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/network_data?equipment_code=003001&point_id=000001&source=1&size=small"
           id="chart-container-1"></div>
    </div>
  </li>
  <li>
    <div id="chart-02">
      <div class="small_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/network_data?equipment_code=003001&point_id=000001&source=2&size=small"
           id="chart-container-2"></div>
    </div>
  </li>
  <li>
    <div id="chart-03">
      <div class="small_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/network_data?equipment_code=003001&point_id=000001&source=3&size=small"
           id="chart-container-3"></div>
    </div>
  </li>
  <li>
    <div id="chart-04">
      <div class="small_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/network_data?equipment_code=003001&point_id=000001&source=4&size=small"
           id="chart-container-1"></div>
    </div>
  </li>

</ul>
<script type="text/javascript">
    $(".small_chart").click(function(e){
        var chart_type = '/FusionCharts/' + $(this).attr("chart-type");
        var data_source = $(this).attr("data-source").replace(/&size=small/,'');
        window.parent.show_fancybox(data_source,chart_type);
    })
</script>