<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><%=link_to "在线课堂数据分析", online_monitors_path %></li>
    </ul>
  </nav>
</div>
<div>
  <div  class="home_chart" chart-type="Bulb.swf"
        data-source="/monitors/general_behaviour_data?equipment_code=001001&point_id=000000"
        id="chart-container-1"
        url="general_behaviour">
  </div>


  <div  class="home_chart" chart-type="AngularGauge.swf"
        data-source="dashboard_data?equipment_code=201001"
        id="chart-container-2"
        url="interactive_study">
  </div>
    <div class="home_chart">
      <a href="/monitors/course_study">
        <img src="/assets/dashboard.jpg" class="demo_chart"><br/>课程学习行为分析
      </a>
    </div>
  <div class="home_chart">
    <a href="/monitors/comprehensive">
      <img src="/assets/dashboard.jpg" class="demo_chart"><br/>在线课堂综合分析
    </a>
  </div>
 </div>

<script type="text/javascript">
    $(".home_chart").click(function(e){
        var chart_type = $(this).attr("chart-type");
        var data_source = $(this).attr("data-source");
        self.location="/monitors/"+ $(this).attr("url");;
    })
</script>