<div class="container_no_border clearfix">
  <div class="items_list">
    <div class="home_top_left">
      <div class="home_top_title">
        实验室项目
      </div>
      <div class="home_top_img">
        <img src="/assets/p_1.png">
      </div>
      <ul>
        <%@projects.each do |project|%>
          <li>
            <%= link_to project.name, lab_eval_project_path(project) %>
          </li>
        <%end%>
      </ul>
    </div>
    <div class="home_top_right">
      <div class="home_top_title">
        评测公告
      </div>
      <div class="home_top_img">
        <img src="/assets/p_2.png">
      </div>
    </div>
    <div class="home_top_left">
      <div class="home_top_title">
        合作项目
      </div>
      <div class="home_top_img">
        <img src="/assets/p_3.png">
      </div>
    </div>
    <div class="home_top_right">
      <div class="home_top_title">
        新闻中心
      </div>
      <div class="home_top_img">
        <img src="/assets/p_4.png">
      </div>
      <ul>
        <%@articles.each do |article|%>
          <li>
            <%= link_to article.title, lab_notice_path(article) %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="courses_list">
    <ul>
      <li>
        <div class="course_list_left">
          <div class="home_top_title">
            MOOC课程
          </div>
          <div class="course_list_items clearfix">
            <ul>
              <li><span class="course_item_tag">最新</span></li>
              <li>学科分类：经济管理</li>
              <li>课程名称：社会主义市场经济学</li>
              <li>授课教师：郎咸平</li>
              <li>开课时间：2014年3月20日</li>
              <li>课程简介：XXXXXXXXXXXXXXXXXX</li>
            </ul>
            <ul>
              <li><span class="course_item_tag">最热</span></li>
              <li>学科分类：经济管理</li>
              <li>课程名称：社会主义市场经济学</li>
              <li>授课教师：郎咸平</li>
              <li>开课时间：2014年3月20日</li>
              <li>课程简介：XXXXXXXXXXXXXXXXXX</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <div class="course_list_left">
          <div class="home_top_title">
            移动课程
          </div>
          <div class="course_list_items clearfix">
            <ul>
              <li><span class="course_item_tag">最新</span></li>
              <li>学科分类：经济管理</li>
              <li>课程名称：社会主义市场经济学</li>
              <li>授课教师：郎咸平</li>
              <li>开课时间：2014年3月20日</li>
              <li>课程简介：XXXXXXXXXXXXXXXXXX</li>
            </ul>
            <ul>
              <li><span class="course_item_tag">最热</span></li>
              <li>学科分类：经济管理</li>
              <li>课程名称：社会主义市场经济学</li>
              <li>授课教师：郎咸平</li>
              <li>开课时间：2014年3月20日</li>
              <li>课程简介：XXXXXXXXXXXXXXXXXX</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>