<div>
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active"><a href="#home">教学首页</a></li>
      <li><a href="#teach_design">教学设计</a></li> 
      <li><a href="#teach_resources">教学资源库</a></li> 
      <li><a href="#mooc">MOOC教学课程</a></li>
      <li><a href="#mobile_courses">移动课程</a></li>
      <li><a href="#eval">评测课程</a></li> 
    </ul>
    <div class="tab-content"> 
      <div class="tab-pane full_height active" id="home">
        <div class="home_top">
          <div class="home_top_left">
            <ul>
              <li>
                
              </li>
            </ul>
          </div>
          <div class="home_top_right">
            efg
          </div>
        </div>
        <div class="home_bottom">

        </div>
      </div> 
      <div class="tab-pane full_height" id="teach_design">
        <iframe id="tab1_frame" src="<%=lab_teach_designs_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="teach_resources">
        <iframe id="tab1_frame" src="<%=lab_teach_resources_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="mooc">...</div>
      <div class="tab-pane full_height" id="mobile_courses">
        <iframe id="tab1_frame" src="<%=lab_mobile_courses_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="eval">
          <iframe id="tab1_frame" src="<%=apply_lab_eval_projects_path%>"></iframe>
      </div>
    </div> 
</div>