/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Panels */

.panel header,
.accordion-heading {
  background: #3a4450;
  padding: 5px;
}
.panel header *,
.accordion-heading *,
.panel header a:hover,
.accordion-heading a:hover {
  color: #ffffff;
  text-decoration: none;
}
.panel .content {
  background: #f7f7fd;
  color: #3a4450;
  border: 1px solid #f0f0fb;
}

.panel header .new_button{float:right;margin-top:-5px}

.page_bg{
    background: #f1f1f1;
}

.page_bg #header{
    background: #1995dc;
    height: 49px;
}

.page_bg #header img{
    float: left;
    width: 90px;
}

.top_menu .inner_bar img{
    float: left;
    width: 90px;
}

.page_bg h3{
    color: white;
    width: 30%;
    float: left;
    margin: 5px 0px 0px 10px;
    font-size: 21px;
}

.page-header{
    background: #3a4450;
    color: white;
}

.page-content{
    min-height: 340px;
}

#header .header_login a{
    color: white;
}

#header h3 a{
    color: white;
    font-size: 18px;
}

#header h3 a:hover{
    text-decoration: none;
}

#header .header_login{
    float: right;
    margin-right: 30px;
    padding-top: 15px;
}

.container{
    min-height:540px;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 3px #E7E7E7;
    background-color: white;
    margin-top: 60px;
    padding:25px;
}


.container_no_border{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    min-height:540px;
    margin-top: 30px;
    padding:25px;
}

.tab-pane .iframe_container{
    padding-left: 20px;
    padding-right: 20px;
}

.tab-pane iframe{
    min-height: 600px;
    width: 100%;
    height: 100%;
    border: 0;
}

.full_width{
    width: 100%;
}

.full_height{
    height: 100%;
}

.help-inline.error {
    color:red;
}

.top_menu{
	color:white;
}

#main .control-label{
    width: 60px;
}
.contorls .long_text_field{width:500px;}
.muti_columns{float:left;margin-right:20px;}

.lab_top_info{
	margin-right: 20px;
}
.lab_top_info a,.lab_top_info a:hover{
	color: white;
}

.lab_top_info ul li{
	margin-left: 5px;
}

.lab_top_title,.lab_top_info ul,.lab_top_info ul li{
 	float: left;
}

.lab_top_title{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 18px;
}

.lab_top_info{
 	float:right;
}

#footer{
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}


/*pagination_style*/

.pagination {
    background: #f2f2f2;
    padding-left: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.pagination a,.pagination em,.pagination span{
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.pagination a:hover, .pagination a.gradient:hover {
    background: #fefefe;
    text-decoration: none;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.pagination a.current,.pagination em.current,.pagination span.current{
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.pagination a.gradient,.pagination em.gradient,.pagination span.gradient{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}


.metro-btn {
  display: inline-block;
  background: #16499a;
  color: #ffffff;
  text-align: center;
}
.metro-btn:hover {
  text-decoration: none;
  background: #6bbef6;
  color: #ffffff;
}
.metro-btn i {
  display: block;
  font-size: 32px;
  line-height: 32px;
  margin-top: 14px;
}
.metro-btn i[class^="icon-icomoon-"] {
  font-size: 28px;
  line-height: 28px;
  line-height: 31px\9;
}
.metro-btn span {
  display: block;
  margin-top: 8px;
}
.tiles-container {
  text-align: center;
}


.metro .breadcrumbs {
  margin: 0.2em;
}
.metro .breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 100%;
}
.metro .breadcrumbs ul li {
  float: left;
  margin: 0 .2em 0 1em;
}
.metro .breadcrumbs ul li:first-child {
  margin-left: 0 !important;
}
.metro .breadcrumbs ul li:first-child a:before {
  content: normal;
}
.metro .breadcrumbs ul li:last-child {
  background: none;
}
.metro .breadcrumbs ul li:last-child a {
  color: #fff;
}
.metro .breadcrumbs ul li:last-child:after,
.metro .breadcrumbs ul li:last-child:before {
  content: normal;
}

.metro .breadcrumbs ul a {
  background: #16499a;
  padding: .3em 1em;
  float: left;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.metro .breadcrumbs ul a:hover {
  background: #16499a;
  color: #ffffff;
}
.metro .breadcrumbs ul a:hover:before {
  border-color: #16499a #16499a #16499a transparent;
}
.metro .breadcrumbs ul a:hover:after {
  border-left-color: #16499a;
}
.metro .breadcrumbs ul a:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #16499a #16499a #16499a transparent;
  left: -1em;
  margin-left: 1px;
}
.metro .breadcrumbs ul a:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #16499a;
  right: -1em;
  margin-right: 1px;
}
.metro .breadcrumbs ul .active,
.metro .breadcrumbs ul .active:hover {
  background: none;
}
.metro .breadcrumbs ul .active a,
.metro .breadcrumbs ul .active:hover a {
  color: #16499a;
}
.metro .breadcrumbs ul .active:hover a {
  color: #16499a;
}
.metro .breadcrumbs ul .active:after,
.metro .breadcrumbs ul .active:before {
  content: normal;
}
.metro .breadcrumbs.small li {
  margin: 0 .2em 0 .8em;
}
.metro .breadcrumbs.small a {
  padding: .2em 1em;
  font-size: 11.9px;
}
.metro .breadcrumbs.mini li {
  margin: 0 .2em 0 .6em;
}
.metro .breadcrumbs.mini a {
  padding: .1em 1em;
  font-size: 10.5px;
}
