/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.inner_bar{
	margin-top: 10px;
	margin-left: 20px;
}

.container{
    min-height:540px;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 3px #E7E7E7;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    padding:25px;
}

.tab-pane .iframe_container{
    padding-left: 20px;
    padding-right: 20px;
}

.tab-pane iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.full_width{
    width: 100%;
}

.full_height{
    height: 100%;
}
.help-inline.error {
    color:red;
}

.top_menu{
	color:white;
}

.lab_top_info{
	margin-right: 20px;
}
.lab_top_info a,.lab_top_info a:hover{
	color: white;
}

.lab_top_info ul li{
	margin-left: 5px;
}

.lab_top_title,.lab_top_info ul,.lab_top_info ul li{
 	float: left;
}

.lab_top_info{
 	float:right;
}


/*pagination_style*/

.pagination {
    background: #f2f2f2;
    padding-left: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.pagination a,.pagination em,.pagination span{
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.pagination a:hover, .pagination a.gradient:hover {
    background: #fefefe;
    text-decoration: none;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.pagination a.current,.pagination em.current,.pagination span.current{
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.pagination a.gradient,.pagination em.gradient,.pagination span.gradient{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}
