.login_page{
	text-align: center;
}
.home_top_left,.home_bottom,.home_top_right{
	float:left;
}

.home_top_left,.home_top_right{
	background: white;
}

.home_top_title{
	background: #000;
	color: white;
	margin-top: 10px;
	width: 75px;
	padding-left: 15px;
}

.home_top_img{
	/*margin-top: 20px;*/
	margin-left: 20px;
	float: left;
}

.home_top_right{
	margin-left: 20px;
}

.home_top_left,.home_top_right{
	border: 1px solid #ccc;
	width: 420px;
	height: 200px;
}

.title{
	margin: 0 auto;
	text-align: center;
}

.items_list,.courses_list{
	float: left;
	width: 100%;
}
.courses_list ul{
	float: left;
	width: 885px;
	margin: 0 0 10px 0;
	background: white;
	border: 1px solid #ccc;
}

.items_list div{
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: left;
}

.items_list div ul{
	list-style-type:square;
	float: left;
}