.login_page{
	text-align: center;
}
.home_top_left,.home_bottom,.home_top_right{
	float:left;
}

.home_top_right{
	margin-left: 20px;
}

.home_top_left,.home_top_right{
	border: 1px solid #ccc;
	padding: 5px;
	width: 400px;
	height: 200px;
}

.title{
	margin: 0 auto;
	text-align: center;
}

.items_list,.courses_list{
	float: left;
	width: 100%;
}

.items_list div{
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: left;
}