.adjust-lab{
    margin-left: 2px;
}

.muti_charts{
	padding-top: 15px;
}

.muti_charts li{
     width: 320px;
     float:left;
 }

.home_chart{width:200px;text-align: center;margin:10px;float:left;}
.home_chart img{width:215px;}