.adjust-lab{
    margin-left: 2px;
}

.muti_charts{
	padding-top: 15px;
}

.muti_charts li{
     width: 320px;
     float:left;
 }

.home_chart{width:230px;text-align: center; float:left;}
.home_chart img{width:230px;}